.mContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: auto;
    margin: 100px 100px;
  }

  .nameDivStyle{
      display: inline-flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 25%;
  }

  .nameChildStyle{
      display: inline-flex;
      flex-direction: column;
      width: auto; 
  }

  .detailStyle{
      display: flex;
      flex-direction: column;
      width: 65%;
  }
  .scrollable{
    overflow-y: scroll;
    height: 100%;
  }
  .liststyle{
    display: flex;
    justify-content: right;     
}
.tile{
    background-color: blueviolet;
}
.tokenDisplay{
    float: right;
}